<!DOCTYPE html>
<html lang="en">

<head th:fragment="cabecera">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meter aqui el libro -->
  <title>Details of ___</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

  <link rel="stylesheet" href="css/demo.css" />
  <link rel="stylesheet" href="css/bookDetails.css">
</head>

<body>


  <header class="ScriptHeader">
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="rt-heading">
          <!-- Meter aqui el libro -->
          <h1>Book Page</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <!-- Book Profile -->
          <div class="book-profile py-4">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                      <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="book dp">
                      <h3>Book Title</h3>
                    </div>

                    <div class="card-body col text-center">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">Title</th>
                          <td width="2%">:</td>
                          <td>Example</td>
                        </tr>
                        <tr>
                          <th width="30%">Author</th>
                          <td width="2%">:</td>
                          <td>Example</td>
                        </tr>
                        <tr>
                          <th width="30%">Genre</th>
                          <td width="2%">:</td>
                          <td>Example</td>
                        </tr>
                      </table>

                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card shadow-sm">
                    <div class="card-body col text-center">
                      <a class="btn btn-success" href="updateUser.html" role="button">Take Book</a>
                      <a class="btn btn-danger" href="updateUser.html" role="button">Return Book</a>
                    </div>
                  </div>
                  <div style="height: 26px"></div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                          <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Sinopsis</h3>
                        </div>
                        <div class="card-body pt-0">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris
                            nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- partial -->

      </div>
    </div>
    </div>
  </section>

</body>

</html>