<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Detalles</h1>
    <form method="post" th:object="${book}" th:action="@{/createloan}">
  
           <!-- <p> Id Usuario <input th:field="*{id}" name="user" th:value="${user.id}" readonly><br>
            Nombre Usuario <p th:text="${user.name}" readonly></p> -->

           <p> Id Libro <input  th:field="*{id}" name="book" th:value="${book.id}" readonly><br>
            Nombre Titulo<p th:text="${book.title}" readonly></p>

               
                   
        </div>
        <!-- <div><a th:href="@{/createloan/}+${user.id}+${user.name}">Aceptar</a></div> -->
        <div> <input type="submit" value="Enviar" name="enviar" required></div>
       

    </form>
</body>

</html>