<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loans List</title>
</head>

<body>
    <h1>Listado de Prestamos</h1>
    <table>
          <tr th:each="loan : ${loanslist}">
            <td th:text="${loan.id}" name="loan"></td>
            <td th:text="${loan.deliveryDate}"></td>
            <td th:text="${loan.dueDate}"</td>
            <td th:text="${loan.book}"></td>
            <td th:text="${loan.user}"></td>
            <td th:text="${loan.user}" ></td>

            </tr>

    </table>
   
<a type="submit" value="volver" th:href="@{/userslist}">Volver</a>

</body>

</html>