<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provisional user</title>
</head>
<body>
<h1>SELECT</h1>

    <form method="post" th:object="${user}" th:action="@{/createloan}">
        <!-- <div th:object="${book}"> -->
        
            Id Usuario <p th:text = "${user.id}" name ="id" readonly></p>
            Nombre Usuario <p th:text = "${user.name}" name ="id" readonly></p>
            

        <table border="1">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Detalles</th>
                    <th>Modificar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <!-- <tbody th:each=" book : ${listaLibros}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td><a th:href="@{/newloan/} + ${book.id}">Seleccionar</a></td>
            
        
            </tbody>
           </table>
        </div> -->
        <input type="submit" value="Enviar" name="enviar" required>
    </form>
</body>
</html>