<!DOCTYPE html>
<html lang="en">

<head th:replace="baseTemplate::cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:fragment="baseTemplate :: javascriptsupport" defer></script>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>User form</title>
</head>

<body>
    <div class="main">
        <div class="container ">
            <form th:object="${user}" th:action="@{/createuser}" method="post" enctype="multipart/form-data">
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-4">
                        <input type="hidden" th:field="*{id}" id="id" name="id">
                        <input type="text" th:field="*{name}" id="name" th:text="${user.name}" name="name">
                        
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="surname">Surname</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{surname}" id="surname" name="surname" th:text="${user.surname}">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-4">
                        <input type="email" th:field="*{email}" id="email" name="email" th:text="${user.email}">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{phone}" id="phone" name="phone" th:text="${user.phone}">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="birthDate">Birthday</label>
                    </div>
                    <div class="col-4">
                        <input type="date" id="birthDate" th:field="*{birthDate}" name="birthDate" th:text="${user.birthDate}">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{userName}" id="username" name="username" th:text="${user.userName}">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="password">Pasword</label>
                    </div>
                    <div class="col-4">
                        <input type="password" id="password" th:field="*{password}" name="password" th:text="${user.password}">
                    </div>
                </div>
                <!-- <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="repeatPassword"> Repeat password</label>
                    </div>
                    <div class="col-4">
                        <input type="password" id="repeatPassword" name="repeatPassword">
                    </div>
                </div> -->
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <label for="photo">Your photo</label>
                    </div>
                    <div class="col-4">
                        <input type="file" id="image" name="image">
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <input type="submit" value="Enviar" name="enviar" required>
                        <!-- <button type="button" class="btn btn-primary">Enviar</button> -->
                    </div>
                </div>
       
        </form>
    </div>
</body>

</html>