<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">

    <title>User List</title>

    <style>
        .table {
            margin: 0 auto;
        }
    </style>
</head>

<body>


    <!-- <form method="post" th:object="${user}" th:action="@{/createloan}"> -->
    <div class="row">
        <div class="col align-items-center">
            <div class="container align-content-center  ">
                <h1>Listado de Usuarios</h1>

                <input class="form-control" id="myInput" type="text" placeholder="Buscar...">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center">

            <table class="table table-hover" style="text-align:center">
                     <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha Nacimiento</th>
                        <th>E-mail</th>
                        <th>Username</th>
                        <th>Teléfono</th>
                        <th>Password</th>
                    </tr>
                                </thead>
                           
                            <tbody id="myTable">
                                <tr th:each="user : ${userslist}">
                        <!-- <td ><input type="text" th:value="${user.id}" th:field="*{id}" name="user"></td> -->
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.birthDate}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.password}"></td>

                        
                        <td><a th:href="@{/detailsuser/} + ${user.id}"> Detalles </a></td>
                        
                        <td><a th:href="@{/updateuser/} + ${user.id}"> Modificar </a></td>
                        <td><a th:href="@{/delete/} + ${user.id}"> Eliminar </a></td>
                        <td><a th:href="@{/newloanuser/} + ${user.id}"> Seleccionar Usuario </a></td>
                        <td><a th:href="@{/userloans/} + ${user.id}"> Prestamos Usuario </a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    </div>
    </div>
    </div>

    </table>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <!-- </form> -->
    <!-- NO BORRAR -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>