<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details</title>
</head>
<body>
    <div class="col">
        <ul>
        <li th:text="'Nombre: ' + ${user.name}"></li>
        <li th:text="'Apellidos: ' + ${user.surname}"></li>
        <li th:text="'Email: ' + ${user.email}"></li>
        <li th:text="'Telefono : ' + ${user.phone}"></li>
       
        </ul>           
    </div>
    <div class="col">
        <img th:src="@{/recursos/} + ${user.photo}" th:alt="Ana">
    </div>

</body>
</html>