<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>User List</title>
</head>

<body>


    <h1>Listado de Usuarios</h1>
    <!-- <form method="post" th:object="${user}" th:action="@{/createloan}"> -->
            <table border="2">
                    <thead>
                            <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                </tr>
                        </thead>
                   
                    <tbody>
                        <tr th:each="user : ${userslist}">
                <!-- <td ><input type="text" th:value="${user.id}" th:field="*{id}" name="user"></td> -->
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.birthDate}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.password}"></td>

                <td><a th:href="@{/details/} + ${user.id}"> Detalles </a></td>
                <td><a th:href="@{/update/} + ${user.id}"> Modificar </a></td>
                <td><a th:href="@{/delete/} + ${user.id}"> Eliminar </a></td>
                <td><a th:href="@{/newloanuser/} + ${user.id}"> Seleccionar Usuario </a></td>
            </tr>

        </tbody>

</table>
<!-- </form> -->

</body>

</html>