body {
    background: #004643;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fffffe;
}

.book-profile .card {
    background-color: #abd1c6;
    border-radius: 10px;
}

.book-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #fffffe;
}

.book-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.book-profile .card p {
    font-size: 16px;
    color: #000;
}

.book-profile .table th,
.book-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
    border-color: #004643;
}
